.instructor {
  text-align: center;
  border-bottom: 1px solid #ccc;
  --padding-container: 30px 0 60px;

  @include breakpoint-down(small) {
    --padding-container: 60px 0;
  }

  &__container {
    width: 70%;
    margin: 0 auto;

    @include breakpoint-down(small) {
      width: 90%;
    }
  }

  &__name {
    margin: 20px 0;
  }

  &__tag {
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 20px;
  }

  &__paragraph {
    text-align: left;
    line-height: 1.5;
    font-style: italic;
    color: #615a5a;
  }

  &__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }
}
