:root {
  --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  --color-primary: #667eea;
  --color-secondary: #764ba2;
  --button-padding: 20px 40px;
  @include breakpoint-down(medium) {
    --button-padding: 18px 40px;
  }
}
