.section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
  &.one {
    background: rgb(36, 164, 138);
  }
  &.two {
    background: rgb(211, 79, 79);
  }
  &.three {
    background: rgb(67, 91, 175);
  }
  &.four {
    background: lightsalmon;
  }
}
